<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:700" rel="stylesheet">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <% if (locals.login === true) { %>
        <div class="header__main">
          <div class="header__navbar">
            <% if (page === 'apply') { %>
              <a href='/'class="active__page">Atvinnuumsókn</a>
            <% } else { %>   
              <a href='/' class="nonactive__page">Atvinnuumsókn</a>
            <% } %>

            <% if (page === 'applications') { %>
              <a href='/applications' class="active__page">Umsóknir</a>
            <% } else { %>
              <a href='/applications' class="nonactive__page">Umsóknir</a>
              <% } %> 

            <% if (page === 'admin') { %>
              <a href='/admin' class="active__page">Notendur</a>
            <% } else { %>
              <a href='/admin' class="nonactive__page">Notendur</a>
            <% } %>
          </div>
          <div class="logout">
            <p><%= locals.user %></p>
            <a href="/logout">Útskrá</a>
          </div>
        </div>
      <% } else { %> 
        <div class="header__main">
          <div class="header__navbar">
            <% if (page === 'apply') { %>
              <a href="/" class="active__page">Atvinnuumsókn</a>
            <% } else { %>
              <a href="/" class="nonactive__page">Atvinnuumsókn</a>
            <% } %>

            <% if (page === 'login') { %>
              <a href="/login" class="active__page">Innskráning</a>
            <% } else { %>
              <a href="/login" class="nonactive__page">Innskráning</a>
            <% } %>

            <% if (page === 'register') { %>
              <a href="/register" class="active__page">Nýskráning</a>
            <% } else { %>
              <a href="/register" class="nonactive__page">Nýskráning</a>
            <% } %>
          </div>
        </div>
      <% } %>
    </header>
    <main>
